body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-night {
  background: radial-gradient(ellipse at bottom, #0a1444 0%, #030824 100%);
  position: relative;
  overflow: hidden;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 500;
}

.message-principal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.title-section {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}
